* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black !important;
}

.nav-item {
    padding: 1% 1% 1% 1%;
}

.nav-item:hover {
    background-color: #0dcaf0;
}

.nav-item:hover a {
    color: black !important;
}
